[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/raygui"]
	path = vendor/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/lubgr/lua-cmake
[submodule "vendor/sol2"]
	path = vendor/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "vendor/uilib"]
	path = vendor/uilib
	url = https://github.com/LeiQiaoZhi/uilib.git
